
@charset "utf-8";

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 ,li,a{
    font-family: "Microsoft YaHei","宋体", "Tahoma", "Helvetica", Arial, "\5b8b\4f53", "sans-serif";
}
body,h1,ul,h2,div,input,li{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
ul{
    list-style: outside none none;
}
a{
    text-decoration: none;
}
.sidebar li a:after{
    text-decoration: none;
}
.none{
    display: none;
}
// #header{
//     width: 100%;
//     min-width: 1263px;
//     height: 90px;
//     background: #333;
//     box-shadow: 0 1px 10px rgb(0,0,0,0.3);
//    position: relative;
//     z-index: 9999;
//     top: 0;
// }

.logo-title{
     width: 300px;
    height: 90px;
    background: url(../img/t.jpg) no-repeat;
    left: 100px;
    position: absolute;
    text-indent: 120px;
    line-height:3;
     color: #A9A9A9;
     margin:0 0 10px 0;
}


// #header .center{
//     width: 1263px;
//     /*不是响应式布局所以不能超过1280分辨率.1280-滚动条*/
//     height: 90px;
//     margin: 0 auto;

// }
// .logo{
//     width: 150px;
//     height: 90px;
//     /*添加logo 隐藏h1*/
//     background-image: url(../img/logob2.jpg)

//     text-indent: -9999px;
//     float: left;
// }
// #header .link{
//     width: 350px;
//     /*120X5=600,再多加100解决太靠右的问题*/
//     height: 90px;
//     line-height: 90px;
//     color: #eee;

//     float: right;
// }
.header-lea .nav li{
    width: 120px;
    text-align: center;
    float:left;
}
.header-lea .nav ul{
    position:absolute;
    top:0px;
    width: 350px;
//     /*120X5=600,再多加100解决太靠右的问题*/
    height: 80px;
     line-height: 80px;
     color: #eee;

}
.header-lea .nav{
    float:right;
    position:absolute;
    right:350px;

}
.header-lea .nav ul a{
    font-size: 18px;
    color: #eee;
    display: block;
}
.header-lea .nav ul a:hover{
    cursor: pointer;
    background-color: #000;
    text-decoration: none;
}
// .header-lea .active {
//     background-color: #000;
// }
.header-lea .header-search {
    font-size: 0;
    position: relative;
    width: 505px;
    height: 36px;
    top: 31%;
    left: 11%;
    border-radius: 100px;
    float: left;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
}

.header-lea .font12 {
    font-size: 12px;
}
.header-lea .GoMain{

    color: #fff;
    left: 30px;
    font-size: 14px;
    font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}

#data-search {
    width: 500px;
    height: 35px;
    padding: 8px 46px 8px 15px;
    border: 1px solid #ddd;
    border-radius: 100px;
    color: #bdbdbd;
    float: left;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
}

.header-lea .search-btn {
    position: relative;
    right: -6%;
    top: 29px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    outline: 0;
    border: 0;
    background: url(../img/btn.png) no-repeat;
    float: left;
}

.header-lea .head {
    float: right;
     width: 20px;
    height: 50%;
    margin-top: 15px;
    margin-right: 90px;
    text-align:center;
}
.header-lea{
        /*background: url(../img/bg_nav_rep.png) ;*/
       background: #333;
     box-shadow: 0 1px 10px rgb(0,0,0,0.3);
        height: 80px;
}

.header-lea .head .img {
    width: 40px;
    height: 40px;
    float: right;
    margin-top:9px;
    text-decoration:none;

}

// .head .txt{
//     width: 30px;
//     height: 40px;
//     float: right;
//     font-size:15px;
//     content: #eee;
//     // margin-top:16px;
//     // margin-left:50px;
//     position:absolute;
//     right:75px;
//     top:30px;
// }
.header-lea .head>a>img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position:absolute;
    right: -50px;
}

.header-lea .head .dropdown-menu{
    text-decoration:none;
    outline-style: none;
    font-size:16px;
    margin-top:25px;
    margin-left:2px;
    height:70px;
    min-width:100px;

}
.header-lea .head .dropdown-menu li{
    height:10px;
}
.header-lea .head .dropdown-menu li a:hover{
    background-color:#347ab6;
    color:#fff;


}

 .headname {
    font: "微软雅黑";
    font-size: 8px;
}

.headwrap {
    height: 190px;
    width: 100%;
    background: url(../img/head1.png);
    position: relative;
    background-size: auto 190px;
}

#header_wrap {
    width: 200px;
    height: 100px;
    margin-left: 150px;
}

.header-lea .title {

    width: 200px;
    margin-top: 25px;
    float: left;
}
.header-lea .logo{
    font-size: 22px;
    color: #FFFFFF;
    bottom: 5px;
    text-indent:60px;
}
.header-lea .title img{
    margin:-35px 0 10px 15px;
}
.header_logo {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 20px;
}

.header_logo>img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    float: left;
    margin: 40px 0 0 -15px;
}

.header_txt {
    float: left;
    margin-left: 75px;
    margin-top: -30px;
    width: 250px;
}

.header_txt>h1 {
    font-size: 17px;
    color: white;
}

.header_txt>p {
    font-size: 16px;
    color: white;
    font-family: "微软雅黑";
}


.login .input-group{
    border-radius: 10px;
    width: 360px;
    margin:20px 15px 20px 35px;
}
.loginbox{
    width: 100%;
    height: 300px;
    background-color: #eee;
    background-image: url(../img/tjc.jpg);
}
.login{
    // padding-top: 20px;
    width: 460px;
    min-height: 200px;
 /*   position: absolute;
    top: 46%;
    left: 30%;*/
    margin: 0 auto;

    /*position: relative;
    top: 100px;*/
}

#eyesHide{
    background-color: #fff;
    float:right;
    top:15px;
    right:10px;

}

div{
    display: block;
}
input{
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 46px;
    color: #333;
}
.forget .inputbox{
    z-index: 19;
    height: 44px;
    margin-bottom: 16px;
    /*border: 1px solid #c5cddb;*/
    background: #fff;
}
.forget .inputbox.input{
    border-radius: 10px;
}



.form-control{
    height: 100%;
    width:200px;
}

.modifybtn{
    width: 300px;
    height: 44px;
    /*text-align: center;*/
    color: #fff;
    font-size: 21px;
    line-height: 44px;
    background: #74B96E;
    margin-top: 14px;
    margin-bottom: 12px;
    margin-left: 52px;
}



.forget .input-group{
    border-radius: 10px;
    width: 300px;
    margin:20px auto;
    float: right;
}
.modal-title{
    font-size: 18px;
    color: black;
    text-align: center;
}
.modal-footer a:hover{
    text-decoration:none;
}
.loginbtn{
    width: 360px;
    height: 44px;
    /*text-align: center;*/
    color: #fff;
    font-size: 21px;
    line-height: 44px;
    background: #74B96E;
    // margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 35px;
}
input[type="password" i],input[type="number" i]{
    padding: 1px 0px;
}

.forgetpwd{
    float: right;
    height: 14px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    /*color: #28A4C9;*/
}
.forgetbox{
    width: 100%;
    height: 550px;
    background-color: #eee;
    background-image: url(../img/tjc.jpg);
}
.forget{
    padding-top: 80px;
    z-index: 100;
    width: 460px;
    min-height: 200px;
 /*   position: absolute;
    top: 46%;
    left: 30%;*/
    margin: 0 auto;
    /*position: relative;
    top: 100px;*/
    background-color: ;
}

#footer{
    width: 100%;
    height: 250px;
    background-color: #222;
    clear: both;
    /*清理浮动*/
    position: relative;
    top: 20px;
    /*在原来的基础上向下移动20*/
}
#footer a{
    color: #999;
}
#footer .top{
width: 1263px;
height: 250px;
/*居中*/
margin: 0 auto;
text-align: center;
}
#footer .block{
    width: 410px;
    height: 175px;
    display: inline-block;
    /*浮动*/
    text-align: left;
    color: #ccc;
    vertical-align: top;
    /*垂直居顶*/
}
#footer h2{
    font-size: 30px;
    font-weight: normal;
    padding: 0 0 0 10px;
}
#footer hr{
    widows: 30px;
    border: 1px dashed #333;
}
#footer ul{
    font-size: 12px;
    color: #777;
    /*首行缩进*/
    text-indent: 20px;
    /*行间距2倍*/
    line-height:2;
}
#footer .bottom{
height: 30px;
background-color: #000;
line-height: 30px;
text-align: center;
color: #777;
border-top: 1px solid #444;
}