/*
* @Author: name
* @Date:   2019-02-19 13:21:06
* @Last Modified by:   name
* @Last Modified time: 2019-02-19 20:37:20
*/
.header-search {
    font-size: 0;
    position: relative;
    width: 505px;
    height: 36px;
    top: 31%;
    left: 20%;
    border-radius: 100px;
    float: left;
}

.font12 {
    font-size: 12px;
}
.GoMain{

    color: #fff;
    left: 30px;
    font-size: 14px;
    font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}

#data-search {
    width: 500px;
    height: 35px;
    padding: 8px 46px 8px 15px;
    border: 1px solid #ddd;
    border-radius: 100px;
    color: #bdbdbd;
    float: left;
}

.search-btn {
    position: relative;
    right: -15%;
    top: 29px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    outline: 0;
    border: 0;
    background: url(../img/btn.png) no-repeat;
    float: left;
}

.head {
    float: right;
    width: 150px;
    height: 50%;
    margin-top: 15px;
    margin-right: 90px;
    text-align:center;
}
.header-lea{
        /*background: url(../img/bg_nav_rep.png) ;*/
       background-color: #212121;
        height: 80px;
}

.head>a {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -35px;
    margin-right: -30px;
}

.head>a>img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.headname {
    font: "微软雅黑";
    font-size: 8px;
}

.headwrap {
    height: 190px;
    width: 100%;
    background: url(../img/head1.png);
    position: relative;
    background-size: auto 190px;
}

#header_wrap {
    width: 200px;
    height: 100px;
    margin-left: 150px;
}

.title {

    width: 200px;
    margin-top: 25px;
    float: left;
}
.logo{
    font-size: 22px;
    color: #FFFFFF;
    bottom: 5px;
    text-indent:60px;
}
.title img{
    margin:-35px 0 10px 15px;
}
.header_logo {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 20px;
}

.header_logo>img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    float: left;
    margin: 40px 0 0 -15px;
}

.header_txt {
    float: left;
    margin-left: 75px;
    margin-top: -30px;
    width: 250px;
}

.header_txt>h1 {
    font-size: 17px;
    color: white;
}

.header_txt>p {
    font-size: 16px;
    color: white;
    font-family: "微软雅黑";
}





ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.u-tabul .u-bluetab a {
    display: block;
    font-size: 16px;
    line-height: 40px;
    padding-left: 12px;
    background-color: #fff;
}
.u-tabul {
    width: 240px;
    padding: 10px;
}

.m-learnleft .tab li {
    margin-bottom: 0px;
}

.u-tabul .u-bluetab {
    margin-bottom: 2px;
}

.f-f0,.ban-user-modal {
    font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
.m-learnleft .tab li.first a {
    border-top: none;
}

.u-tabul .u-curtab a:hover {
    color: #fff;
    background-color: #0096CF;
}


.m-learnleft .tab li a {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #f0f0f0;
}

.u-tabul .u-bluetab a {
    display: block;
    font-size: 16px;
    line-height: 40px;
    padding-left: 12px;
    background-color: #fff;
}

a:hover {
    color: #0096CF;
    text-decoration: none;
    cursor: pointer;
}
.f-fc3 {
     color: #333;
}
.u-tabul .u-curtab a{
    color: #fff;
    background-color: #0096CF;
}
.-tabitem a{
    text-decoration: none;
}
